*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Deis' config file
controller/deis/local_settings.py
controller/.secret_key

# local binaries, installers, and artifacts
client/deis
client/deis.exe
client/*.run
client/makeself/
docs/_build/
docs/docs.zip
docs/dummy.sqlite3

# coverage reports
.coverage
coverage.out
htmlcov/

# python virtual environments for testing
venv/

# vendored go source code
vendor/
