*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Deis' config file
controller/deis/local_settings.py
controller/.secret_key

# local binaries, installers, and artifacts
client/deis
client/client
client/deis.exe
client/*.run
client/makeself/
_dist/
docs/_build/
docs/docs.zip
docs/dummy.sqlite3
manifests/*.tmp.yml
_tests/_tests.test
_tests/example-*/

# coverage reports
.coverage
coverage.out
htmlcov/

# python virtual environments for testing
venv/

# vendored go source code
vendor/

# generated bintray scripts during ci
_scripts/ci/bintray-ci.json
