#about {
  .billboard {
    @include fullheight;
    min-height: 375px;
    @include mobile {
      min-height: 275px;
    }
    display: block;
    position: relative;
    text-align: center;
    background: lighten($pink, 42.5%);

    .shape-position.shape-position-top {
        top: 55px;

        .s-w {
          background: lighten($pink, 42.5%);
        }
    }

    .intro {
        width: 75%;
        left: 12.5%;
        transform: translate(0, -50%);
        z-index: 600;
    }

    .button {
        width: 12em;
        margin-left: -6em;
        @include bottomer;
        bottom: -1.5em;
        z-index: 700;
    }
    .shape-position.shape-position-top {
      top: 48px;
      @include mobile {
        top: 75px;
      }
    }
  }

  .maps {
      iframe {
          width: 100%;
          min-height: 225px;
          padding: 0.25em;
      }
      padding-bottom: 0;
  }
  address {
    @include mobile {
      margin-top: 1em;
    }
  }

  .content {

      h2 {
        margin: 1em 0 1em;
      }

      p {
          font-size: 1rem;

          &.lead {
              font-size: 1.5rem;
              margin-bottom: 0.75em;
              padding-right: 0;
              + hr.border {
                border-color: $green;
                border-width: 0 0 4px;
                margin: 2em 47% 2em;
                @include mobile {
                  margin: 1em 30% 1em;
                }
              }
          }
      }

      dl.inline-list {
        margin: 2em 0 1em;

        dt,
        dd {
            padding: 0.2em 0.75em;
            @include mobile {
              width: 100%;
            }
        }
        dt {
            min-width: 8em;
        }

        dd {
            background: $light1;

        }
        @include mobile {
          margin-top: 1em;
        }
      }
    }

    iframe {
        box-shadow: 0 2px 5px lighten($dark1, 42.5%);
        margin-bottom: 1.5em;
        padding: 0 2.5%;
        background: white;
    }

    @include mobile {
        .content p.lead {
            font-size: 1.25rem;
            margin-bottom: 1.75em;
        }
        .maps-embed {
          display: none;
        }
    }
    +.panel--signoff {
      @include mobile {
        min-height: 250px;
      }
      .shape-position.shape-position-bottom {
        @include mobile {
          bottom: 0;
        }
      }
      .text-center{
        @include mobile {
          width: 75%;
          top: 50%;
        }
        top: 65%;
      }
    }
    #contact {
      @include mobile {
        margin-top: 20px;
      }
    }
    #about-mailto {
      margin-top: 30px;
    }
}
