#services {
  .billboard {
    @include fullheight;
    min-height: 480px;
    @include mobile {
      min-height: 580px;
    }
    @include smallLandscape {
      min-height: 480px;
    }
    display: block;
    position: relative;
    text-align: center;
    background: lighten($lightpink, 30%);

    h1 {
      margin-top: 38px;
    }

    .shape-position.shape-position-top {
      top: 42px;
      @include mobile {
        top: 75px;
      }

      .s-w {
        background: lighten($lightpink, 35%);
      }
      .s-l1 {
        opacity: 0.5;
      }
    }

    .intro {
        width: 75%;
        left: 12.5%;
        transform: translate(0, -50%);
        z-index: 600;
        @include mobile {
          top: 47%;
        }
    }
  }
  .content {
    @include mobile {
      h2 {
        margin-top: 1em;
      }
      h3 {
        margin: 1em 0;
      }
      .geo-shapes {
        padding: 0;
      }
    }
    &.operational-support {
      @include mobile {
        .geo-shapes {
          margin-top: 20px;
        }
      }
      table {
        @include tablet {
          margin-bottom: 0;
        }
        @include mobile {
          margin-bottom: 1em;
        }
      }
    }
  }
  #proof-concept-envs {
    @include tablet {
      + .geo-shapes {
        padding: 2em 1em 0 0;
      }
    }
  }
  #support {
    @include mobile {
      > .columns {
        padding: 0;
      }
    }
    h3 {
      margin-top: 0;
    }
  }
  #custom-platform {
    h2 {
      @include tablet {
        margin-top: 20px;
        + p {
           margin-bottom: 20px;
        }
      }
    }
  }
  #here-to-help {
    h4 {
      @include tablet {
        margin-top: 0;
        + div {
          margin-bottom: 0;
        }
      }
    }
  }
  +.panel--signoff {
    @include mobile {
      min-height: 220px;
    }
    .shape-position.shape-position-bottom {
      @include mobile {
        bottom: 0;
      }
    }
    .text-center{
      @include mobile {
        width: 75%;
        top: 40%;
      }
      top: 60%;
    }
  }
}

.services-items {
    background-image: url('../images/tiles/tiny_grid.png');
    background-repeat: repeat;

    .services-item {
        position: relative;
        min-height: 175px;
        a {
            min-height: 155px;
            @include mobile {
              min-height: 175px;
              padding: 0;
            }
            display: block;
            width: 95%;
            background: lighten($light1, 12.5%);
            @include tablet {
              padding: 1em 2.5% 0;
              border-bottom: 4px solid $lightblue;
            }
            border-radius: 0.1em;
            box-shadow: 0 1px 6px $light2;
            @include centerer;

            &:hover {
                box-shadow: 0 0 0 4px lighten($lightblue, 20%) inset;
                border-bottom: none;
            }
        }

        h3 {
            font-size: 1em;
            margin: 0.7em 0 0;
            color: $darkblue;
        }

        .fa {
            color: $lightblue;
            font-size: 2.5em;
            padding-top: 0.25em;
        }
    }

}
