apiVersion: v1
kind: Service
metadata:
  name: deis-workflow
  labels:
    heritage: deis
spec:
  ports:
  - name: http
    port: 8000
    targetPort: 8000
    protocol: TCP
  selector:
    name: deis-workflow
