.sidebar {

    .sidebar-inner {
        padding: 120px 0 40px;
        max-width: 320px;
        position: relative;
        z-index: 50;

        h1 {
            margin: 0 0 70px;
            padding: 0;
            border-bottom: 2px solid $light1;
            height: 82px;
            width: 290px;
            position: fixed;
            top: 0;

            &:hover {
              border-color: $blue;
            }

            a.logo {
                padding: 0 0 0 0.825em;
                display: block;
                line-height: 78px;
                background: white;
                border-right: 2px solid $light1;

                img {
                    margin-top: -10px;
                }
            }
        }

        &:hover li a {
          color: darken($grey, 33.333%);
        }

        ul, li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            font-size: 1.125em;

            a {
                padding: 0.333em 2.5em;
                display: inline-block;
                width: 100%;
                color: darken($grey, 17.5%);
                font-size: 0.825em;
                @include transition;

                &[state=open],
                &.current {
                    color: $pink;
                    font-weight: bold;

                    + ul > li a {
                        font-weight: normal !important;
                        color: $dark1;

                        &:before {
                            content: " ";
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            border-radius: 4px;
                            display: inline-block;
                            border: 4px solid lighten($lightpink, 25%);
                            margin: 0.5em 0 0 0;
                            left: 2.8em;
                        }
                    }
                }

                &:hover {
                    background: $light1;
                }
            }

            &.toctree-l1.current {
              ul {
                display: block !important;
              }
            }
        }

        ul {
            padding-bottom: 1.5em;
        }

        li li a {
            padding-left: 4em;
            font-size: 0.75em;
        }
    }

    .sidebar-bg {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 290px;
        border-right: 2px solid $light1;
        z-index: 10;
    }
}
