$fa-font-path: "../fonts" !default;
@import '../../bower_components/font-awesome/scss/font-awesome.scss';


@font-face {
  font-family: 'klinic';
  src: url('../fonts/klinicslabbook-webfont.eot');
  src: url('../fonts/klinicslabbook-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/klinicslabbook-webfont.woff2') format('woff2'),
   url('../fonts/klinicslabbook-webfont.woff') format('woff'),
   url('../fonts/klinicslabbook-webfont.ttf') format('truetype'),
   url('../fonts/klinicslabbook-webfont.svg#klinic_slabbook') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'klinic';
  src: url('../fonts/klinicslabmedium-webfont.eot');
  src: url('../fonts/klinicslabmedium-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/klinicslabmedium-webfont.woff2') format('woff2'),
   url('../fonts/klinicslabmedium-webfont.woff') format('woff'),
   url('../fonts/klinicslabmedium-webfont.ttf') format('truetype'),
   url('../fonts/klinicslabmedium-webfont.svg#klinic_slabmedium') format('svg');
  font-weight: 500;
  font-style: normal;
}


h1 {
  @include klinicBold;
}

h2, h3, h4, h5 {
  @include klinicReg;
}
