[run]
omit =
    */venv/*
    */virtualenv/*
    *tests*
    api/__init__.py
    scheduler/*
    # osx library files when not running in virtualenv
    /Library/*
    /System/*
    /usr/local/lib/*
branch = True

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

[html]
title = Deis Coverage Report
