# Deis controller requirements
#
Django==1.9.2
django-cors-headers==1.1.0
django-guardian==1.4.1
djangorestframework==3.3.2
docker-py==1.6.0
gunicorn==19.4.5
jsonfield==1.0.3
morph==0.1.2
ndg-httpsclient==0.4.0
psycopg2==2.6.1
python-etcd==0.3.2
PyYAML==3.11
requests==2.9.1
simpleflock==0.0.3
